{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">


</head>
<body>
    <!-----------------------NAVBAR-------------------->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation" style="background-color: rgba(32, 62, 163, 1)  ;">
      <a class="navbar-brand" href="#"> <img class="img-fluid" src="{% static 'img/Logo.png' %}" id="img_tno"  alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'registro' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registrarse
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" onclick="pac()" href="{% url 'registro' %}">Paciente</a>
                    <a class="dropdown-item" onclick="med()" href="{% url 'registro' %}">Medico</a>
                    <a class="dropdown-item" onclick="rep()" href="{% url 'registro' %}">Repartidor</a>
                  </div>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'mantenedor' %}" >Disabled</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'ex' %}" >ex</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tomarHorarios' %}"></a>
              </li>
          </ul>
      </div>
  </nav>

  
<!-----------------------NAVBAR-------------------->
    <h1 align = center  >Bienvenidos a MedicApp</h1>
    <center><img src="{% static 'img/pacientes5.jpg'%}" class="img-fluid"  style="margin: 20px; height: 450px; " ></center>
    
    <div class="row" style="margin-top: 60px;">
      <div class="col-md-6" style="text-align:center; margin-left: 40px; margin-right: 20px;">
        <h2>¿ Que es MedicApp ?</h2>
        <p style="font-size: large;">
          La idea principal de MedicApp es ayudar a las personas que no pueden salir de sus casas para asistir a una
          consulta medica. Entregaremos un servicio de conectividad entre pacientes y medicos ademas de repartidores,
          para compra de medicamentos. 

          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          
        </p>
        <img src="{% static 'img/medicos2.jpg' %}" alt="Medicos" style="height: 200px;">
      </div>
      <div class="col-md-5"  style="text-align:center; margin-left: 20px; margin-right: 40px;" >
        <h2>¿ Como funciona MedicApp ?</h2>
        <p style="font-size: large;">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            
        </p>
        <img src="{% static 'img/medicos3.jpg' %}" alt="Medicos" style="height: 150px;">
      </div>
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-6" style="text-align:center; margin-left: 40px; margin-right: 20px;">
          <h2>Objetivos de MedicApp</h2>
          <p style="font-size: large;">          
  
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            
          </p>
          
        </div>
        <div class="col-md-5"  style="text-align:center; margin-left: 20px; margin-right: 40px;" >
          <h2>Benificios de MedicApp</h2>
          <p style="font-size: large;">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              
          </p>
          
        </div>
      </div>

<!-----------FOOTER-->
<footer style="background-color: rgba(32, 62, 163, 1) " class="fixed-bot page-footer  font-small pt-4">
  <div  style="color: white;" class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5  class="text-uppercase">Contactenos</h5>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5   class="text-uppercase">Correo</h5>
        <ul class="list-unstyled">
          <li>
            <p>MedicApp@medicapp</p>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Telefono</h5>
        <ul class="list-unstyled">
          <li>
            <a >+569 4876 2924</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div  style="color: white;" class="footer-copyright text-center py-3">© 2018 Copyright:
    <a> MedicApp</a>
  </div>  
</footer>  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
  <script src="{% static 'js/j.query.validate.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>