{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
   
    

</head>
<body>
    <!-----------------------NAVBAR-------------------->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation" style="background-color: rgba(32, 62, 163, 1)  ;">
            <a class="navbar-brand" href="#"> <img class="img-fluid" src="{% static 'img/Logo.png' %}" id="img_tno"  alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'registro' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Registrarse
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" onclick="pac()" >Paciente</a>
                          <a class="dropdown-item" onclick="med()" >Medico</a>
                          <a class="dropdown-item" onclick="rep()" >Repartidor</a>
                        </div>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'mantenedor' %}" >Disabled</a>
                    </li>
                </ul>
            </div>
        </nav>
      
<!-----------------------NAVBAR-------------------->    

<div id="form_pac">
       
    <form action="{% url 'agregar_pac' %}" id="form_c_pac" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                    <img src="{% static 'img/fichero.jpg' %}" class="img-fluid" style="height: 350px; margin: 20px;">
            </div>
            <div class="col-md-4">
                <h2>Porfavor ingrese su datos correctamente(Paciente)</h2>
                <div class="form-group">
                    <label for="correo1">Correo electronico</label>
                    <input type="email" class="form-control" name="correo" id="correo1" placeholder="Ingrese su correo electronico">
                    <small id="emailHelp" class="form-text text-muted">Nunca mostraremos su correo a nadie fuera de la aplicacion</small>
                </div>
                <div class="form-group">
                    <label for="contra">Contraseña</label>
                    <input type="password" class="form-control" name="contra" id="contra" placeholder="Ingrese su contraseña">
                </div>
                <div class="form-group">
                    <label for="nom">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nom" placeholder="Ingrese su nombre completo">                    
                </div>
                <div class="form-group">
                    <label for="rut">RUT</label>
                    <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese su RUT">                    
                </div>
                <div class="form-group">
                    <label for="fecnac">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="date" name="fechanac" placeholder="Ingrese su fecha de nacimiento">                    
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su numero de telefono">                    
                </div>
                <div class="form-group">
                    <label for="telefono2">Telefono Emergencias</label>
                    <input type="number" class="form-control" id="telefono2" name="telefono2" placeholder="Ingrese el numero de telefono de un contacto en caso de emergencias">                    
                </div>
                <div class="form-group">
                    <label for="direc">Direccion</label>
                    <input type="text" class="form-control" name="direc" id="direc" placeholder="Ingrese su direccion">                    
                </div>
               
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>  
            <div class="col-md-4"></div>          
        </div>
    </form>
</div>
<div  id="form_med">
    
    <form id="form_c_med" action="{% url 'agregar_med_pos' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                    <img src="{% static 'img/fichero.jpg' %}" class="img-fluid" style="height: 350px; margin: 20px;">
            </div>
            <div class="col-md-4">
                    <h2>Porfavor ingrese su datos correctamente(Medico)</h2>
                    <div class="form-group">
                        <label for="correo1">Correo electronico</label>
                        <input type="email" class="form-control" name="correo" id="correo1" placeholder="Ingrese su correo electronico">
                        <small id="emailHelp" class="form-text text-muted">Nunca mostraremos su correo a nadie fuera de la aplicacion</small>
                    </div>
                    <div class="form-group">
                        <label for="contra">Contraseña</label>
                        <input type="password" class="form-control" name="contra" id="contra" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="nom">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nom" placeholder="Ingrese su nombre completo">                    
                    </div>
                    <div class="form-group">
                        <label for="rut">RUT</label>
                        <input type="text" class="form-control" name="rut" id="rut" placeholder="Ingrese su RUT">                    
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" class="form-control" name="telefono" id="telefono" placeholder="Ingrese su numero de telefono">                    
                    </div>
                    <div class="form-group">
                        <label for="esp">Especialidad medica</label>
                        <select class="form-control" name="especialidad" name="especialidad" id="esp" >
                            <option value="">1</option>
                        </select>                   
                    </div>
                    <div class="form-group">
                        <label for="archivo">Suba su titulo porfavor</label>
                        <input type="file" class="form-control-file" name="archivo" id="archivo">
                    </div>
                   
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
        
        
            </div>  
            <div class="col-md-4"></div>
        </div>
    </form>
</div>
<div id="form_rep">
    
    <form id="form_c_rep" action="{% url 'agregar_rep' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                        <img src="{% static 'img/fichero.jpg' %}" class="img-fluid" style="height: 350px; margin: 20px;">
                </div>
                <div class="col-md-4">
                        <h2>Porfavor ingrese su datos correctamente(Repartidor)</h2>
                        <div class="form-group">
                            <label for="correo1">Correo electronico</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo electronico">
                            <small id="emailHelp" class="form-text text-muted">Nunca mostraremos su correo a nadie fuera de la aplicacion</small>
                        </div>
                        <div class="form-group">
                            <label for="contra">Contraseña</label>
                            <input type="password" class="form-control" id="contra" name="contra" placeholder="Ingrese su contraseña">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nombre</label>
                            <input type="text" class="form-control" id="nom" name="nombre" placeholder="Ingrese su nombre completo">                    
                        </div>
                        <div class="form-group">
                            <label for="rut">RUT</label>
                            <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese su RUT">                    
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su numero de telefono">                    
                        </div>
                      
                       
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="{% static 'js/j.query.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>